*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.primary-btn {
    padding: 16px 20px;
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.primary-btn a{
    color:#fff;
}
section{
    margin: 130px 0;
}
.title{
    font-size: 45px;
    text-align: center;
    color:#121212;
    font-weight: 700;
    margin-bottom: 15px;
}
body{
    background-color: #fff;
   
}
.container{
    max-width: 1140px;
    margin: auto;
}
.header{
    background-color: #fff;
    padding-top: 50px; ;
    
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/Ellipse-1.png), url(images/Ellipse-2.png);
    background-repeat: no-repeat;
    background-position: right -85px  bottom, right -15px bottom;
}
.header .container .content{
    width: 525px;
}
.header .container .content h1{
    font-size: 65px;
    font-weight: 700;
    color:#121212;
    line-height: 78px;
    margin: 10px 0;
}
.header .container .content p{
    font-size: 18px;
    color: #707070;
    margin-bottom: 30px;
}
.video-btn{
    border: 1px solid transparent;
    background: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px 19px;
    margin-left: 30px;
}
.video-btn a{
    color: #707070;
}
.video-btn:hover{
    border: 1px solid #FF5959;
}
.video-btn:hover a{
    color: #FF5959;
}
.header .container .img{
    margin-right: 55px;
}

/* amount section */

.title-p{
    font-size: 18px;
    color:#707070;
    margin: 0 auto 50px;
    text-align: center;
    max-width: 690px;
    
}
.amount{
    display: flex;
    justify-content: center;
    gap: 22px;
    list-style: none;
}
.amount .amount-item{
    width: 135px;
    height: 125px;
    text-align: center;
    padding: 40px 0;
    font-size: 30px;
    color:#707070;
    border-radius: 5px;

}
.amount .amount-item.active{
    color: #FF5959;
    border: 3px solid #FF5959;
}
.amount .amount-item:hover{
    color:#FF5959;
}
.other-amount{
    width: 220px;
    margin: 40px auto;
}
.other-amount input{
    width: 100%;
    font-size: 18px;
    text-align: center;
    border: none;
}
.center-btn{
    text-align: center;
}

.plan-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:23px;
}
.plan-items .item-box{
    width: 360px;
    padding: 55px 23px;
}
.plan-items .item-box .icon{
    width: 53px;
    height: 53px;
    margin-bottom: 30px;
}
.plan-items .item-box h3{
    font-size: 24px;
    color: #121212;
    margin-bottom: 30px;
}
.plan-items .item-box p{
    color:#707070;
}
.plan-items .item-box.active{
    background: #fff4d6; ;
}