*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
/* Commonly used design */
.primary-btn {
    padding: 16px 20px;
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color:#fff;
}
.primary-btn a{
    color:#fff;
}
section{
    margin: 130px 0;
}
.title{
    font-size: 45px;
    text-align: center;
    color:#121212;
    font-weight: 700;
    margin-bottom: 15px;
}
.container{
    max-width: 1140px;
    margin: auto;
}

body{
    background-color: #fff;
   
}

/* header */
.header{
    background-color: #fff;
    padding-top: 50px; ;
    
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/Ellipse-1.png), url(images/Ellipse-2.png);
    background-repeat: no-repeat;
    background-position: right -85px  bottom, right -15px bottom;
}
.header .container .content{
    width: 525px;
}
.header .container .content h1{
    font-size: 65px;
    font-weight: 700;
    color:#121212;
    line-height: 78px;
    margin: 10px 0;
}
.header .container .content p{
    font-size: 18px;
    color: #707070;
    margin-bottom: 30px;
}
.video-btn{
    border: 1px solid transparent;
    background: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px 19px;
    margin-left: 30px;
}
.video-btn a{
    color: #707070;
}
.video-btn:hover{
    border: 1px solid #FF5959;
}
.video-btn:hover a{
    color: #FF5959;
}
.header .container .img{
    margin-right: 55px;
}
/* header end */

/* amount section */
.title-p{
    font-size: 18px;
    color:#707070;
    margin: 0 auto 50px;
    text-align: center;
    max-width: 690px;
}
.amount{
    display: flex;
    justify-content: center;
    gap: 22px;
    list-style: none;
}
.amount .amount-item{
    width: 135px;
    height: 125px;
    text-align: center;
    padding: 40px 0;
    font-size: 30px;
    color:#707070;
    border-radius: 5px;
    border: 3px solid transparent;

}
.amount .amount-item.active{
    color: #FF5959;
    border: 3px solid #FF5959;
}
.amount .amount-item:hover{
    color: #FF5959;
    border: 3px solid #FF5959;
}
.other-amount{
    width: 220px;
    margin: 40px auto;
}
.other-amount input{
    width: 100%;
    font-size: 18px;
    text-align: center;
    border: none;
}
.center-btn{
    text-align: center;
}
/* amount section end */

/* plan section */
.plan-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:23px;
}
.plan-items .item-box{
    width: 360px;
    padding: 55px 23px;
}
.plan-items .item-box.active{
    background: #fff4d6; ;
}
.plan-items .item-box:hover{
    background: #fff4d6; ;
}
.plan-items .item-box .icon{
    width: 53px;
    height: 53px;
    margin-bottom: 30px;
}
.plan-items .item-box h3{
    font-size: 24px;
    color: #121212;
    margin-bottom: 30px;
}
.plan-items .item-box p{
    color:#707070;
}
.plan-items .item-box.active{
    background: #fff4d6; ;
}
/* plan section end */

/* contribute section */
.donate-way{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap:95px;
    margin-bottom: 130px;
}
.donate-way .contents{
    width: 500px;
}
.donate-way .contents h1{
    font-size: 45px;
    color: #121212;
    margin-bottom: 25px;
}
.donate-way .contents p{
    color:#707070;
    font-size: 18px;
    margin-bottom: 25px;
}
.donate-way .image{
    height: 475px;
    width: 460px;
}
.donate-way .image img{
    height: 100%;
    width: 100%;
}
.donate-way.revers{
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
/* contribute section end */

/* subscribe section */
.sub-form{
    width: 810px;
    margin: auto;
    text-align: center;
    background-color:  #FFF4D6;
    padding: 75px 0;
}
.sub-form input[type=email] {
    width: 300px;
    padding: 16px;
    font-size: 20px;
    border: none;
    background-color: #D9D9D9;
    border-radius: 5px 0 0 5px;
}
.sub-form .primary-btn{
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
}
/* subscribe section end */

/* footer */
footer{
    background: #121212;
    padding: 70px 0;
    text-align: center;
}
footer h1{
    font-size: 40px;
    font-family: Lobster;
    color: #FF5959;
    margin-bottom: 30px;
}
footer p{
    color:#D9D9D9;
    font-size: 15px;
}
/* footer end */